.introduction {
  display: flex;
  flex-direction: column;
}

.text {
  order: 1;
}

.imageWrapper {
  align-self: center;
  order: 2;
  width: 100%;
  margin-top: 25px;
}

.link {
  order: 3;
}

/* sm tablet */
@media (min-width: 640px) {
  .introduction {
    display: block;
  }

  .imageWrapper {
    float: left;
    margin-right: 21px;
    padding-top: 9px;
    width: 50%;
  }
}

/* laptop */
@media (min-width: 1024px) {
  .imageWrapper {
    margin-right: 27px;
  }
}
