.summaryTitle {
  position: absolute;
  z-index: var(--global-z-index-nav-english);
  color: var(--global-color-white);
}

.summaryDescription {
  color: var(--global-color-white);
  margin-bottom: 50px;
}

.readMoreLink {
  color: var(--global-color-white);
  font-size: var(--global-heading-3-size);
}

@media (min-width: 640px) {
  .summaryItem {
    display: grid;
    grid-template-columns: 30px 80px auto 10px;
    grid-template-rows: 0 auto 17%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 20px;
  }

  .summaryTitle {
    grid-area: 1 / 1 / 2 / 2;
  }

  .summaryDescription {
    grid-area: 2 / 2 / 4 / 4;
    z-index: var(--global-z-index-nav-english);
    align-self: center;
  }

  .readMoreLink {
    grid-area: 3 / 2 / 4 / 4;
    z-index: var(--global-z-index-nav-english);
  }

  .imageWrapper {
    grid-area: 1 / 1 / 4 / 5;
  }
}

@media (min-width: 1024px) {
  .summaryDescription {
    font-size: var(--global-heading-3-size);
  }

  .readMoreLink {
    font-size: var(--global-heading-3-size);
  }
}

@media (min-width: 1536px) {
  .summaryItem {
    width: 48%;
    margin: 10px 12px;
  }
}
