
.footerFlex {
   min-height: 350px;
   width: 100%;
   color: var(--global-text-color-white);
   background-color: var(--global-color-vihr-primary-darkgrey);
   display: flex;
   flex-shrink: 0;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;   
}

/* tablet and desktop */
@media (min-width: 640px) {
   .footerFlex {
      flex-direction: row;
      justify-content: space-between;
      min-height: 230px;
      padding: 0 5%; 
   }
}

@media (min-width: 768px) {
   .footerFlex {
      padding: 0 10%; 
   }
}

@media (min-width: 1024px) {
  .footerFlex {
    padding: 0 20%; 
 }
}

