:root {
  --global-font-family: "Lato", sans-serif;
  --global-heading-1-size: 2.6rem;
  --global-heading-2-size: 1.6rem;
  --global-heading-3-size: 1.1rem;
  --global-navlink-font-size: 16px;
  --global-font-size: 1rem;
  --global-font-line-height: 1.7em;
  --global-color-darkgrey: rgb(65, 64, 64);
  --global-color-grey: #808588;
  --global-color-white: rgb(255, 255, 255);
  --global-color-primary: #b984bee8;
  --global-color-secondary: #91c1c4;
  --global-color-warning: #e28413;
  --global-color-danger: #ff6542;
  --global-color-vihr-primary-lightgreen: #76b72a;
  --global-color-vihr-primary-darkgreen: #045a1c;
  --global-color-vihr-primary-darkgrey: #56504d;
  --global-color-vihr-primary-lightgrey: #e3e3e3;
  --global-color-vihr-secondary-turqouse: #28b8ce;
  --global-color-vihr-secondary-yellow: #ffdd00;
  --global-color-vihr-secondary-orange: #d67c1c;
  --global-color-vihr-secondary-crimson: #e5005a;
  --global-z-index-backdrop: 200;
  --global-z-index-modal: 100;
  --global-z-index-nav-items: 300;
  --global-z-index-nav-english: 700;
  --global-width-mobile: 90%;
  --global-width-tablet: 93%;
  --global-width-laptop: 80%;
}

html,
body {
  height: 100%;
  padding: 0;
  font-size: 16px;
  font-family: var(--global-font-family);
  font-size: var(--global-font-size);
  line-height: var(--global-font-line-height);
  color: var(--global-color-darkgrey);
  background-color: var(--global-color-grey);
}

ul {
  list-style-type: none;
}

p {
  margin-bottom: 46px;
}

section {
  margin-bottom: 46px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--global-heading-1-size);
}

h2 {
  font-size: var(--global-heading-2-size);
  color: var(--global-color-secondary);
}

h3 {
  font-size: var(--global-heading-3-size);
  color: var(--global-color-vihr-primary-lightgreen);
}

.containerFlex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainFlex {
  flex: 1;
  width: var(--global-width-mobile);
  margin: 0 auto;
}

/* sm tablet */
@media (min-width: 640px) {
  section {
    margin-bottom: 76px;
  }

  p {
    margin-bottom: 46px;
  }

  .mainFlex {
    width: var(--global-width-tablet);
  }
}

/* laptop */
@media (min-width: 1024px) {
  .mainFlex {
    width: var(--global-width-laptop);
  }
}
