:root {
   --global-font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
   --global-heading-1-size: 3rem;
   --global-heading-2-size: 2rem;
   --global-heading-3-size: 2rem;
   --global-font-size: 1rem;
   --global-text-color: rgb(65, 64, 64);
   --global-color-primary: #e9beeee8;
   --global-color-secondary: #779fa1;
   --global-color-warning: #e28413;
   --global-color-danger: #ff6542;
}

body {
   font-family: var(--global-font-family); 
   font-size: var(--global-font-size);
   color: var(--global-text-color);
}

h1 {
   font-size: var(--global-primary-title-size);
}

h3 {
   font-size: var(--global-secondary-title-size);
   color: var(--global-color-secondary);
}

h5 {
   font-size: var(--global-font-size);
   color: var(--global-color-secondary);
}

